html, body {
    height: 100%;
    font-family: 'Barlow Condensed';
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(../../assets/images/image2.jpg);
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
}

.container {
    flex: 1 0 auto;
    width: 960px;
    margin-top: 25px;
    padding: 28px;
    border-radius: 25px;
}

h1 {
    text-decoration: underline;
    font-family: 'Barlow Condensed';
}

.jumbotron{
    border-radius: 25px; 
    background-color: rgba(47, 79, 79, .9);
    margin-top: 50px; 
    
}

#chameleon{
    font-size: 85px; 
    text-align: center; 
    color: white;
    opacity: 1;
}

.modal{
    position: fixed;
    top: 40px; 
}

.student-selection-li:hover {
    cursor: pointer;
    background-color: #eee;
}