html, body {
    height: 100%;
    font-family: 'Barlow Condensed';
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(../../assets/images/image2.jpg);
    background-size: cover; 
    background-position: center;
}

.container {
    flex: 1 0 auto;
    width: 960px;
    margin-top: 25px;
    padding: 28px;
    border-radius: 25px;
}

.card-footer {
    margin-top: 150px;
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    border-top: 8px solid white;
    background-color: darkslategray;
    color: #ffffff;
    position: fixed;
    left: 0;
    bottom: 0;
}

h1 {
    text-decoration: underline;
}

.jumbotron{
    border-radius: 25px; 
    background-color: rgba(47, 79, 79, .9);
    margin-top: 50px; 
    
}

#chameleon{
    font-size: 85px; 
    text-align: center; 
    color: white;
    opacity: 1;
}

.modal{
    position: fixed;
    top: 40px; 
}