html, body {
    height: 100%;
    font-family: 'Barlow Condensed';
}

body {
    display: flex;
    flex-direction: column;
    background-size: cover; 
    background-position: center;
}

.container {
    flex: 1 0 auto;
    width: 960px;
    margin-top: 25px;
    padding: 28px;
    border-radius: 25px;
}

.main-header {
    z-index: 99;
}
