html,
body {
    height: 100%;
    font-family: 'Barlow Condensed';
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(../../../assets/images/image2.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    flex: 1 0 auto;
    width: 960px;
    margin-top: 25px;
    padding: 28px;
    border-radius: 25px;
}

#chameleon {
    font-size: 85px;
    text-align: center;
    color: white;
    opacity: 1;
}

.card {
    height: 320px;
}
@media (max-width: 992px) {
    #guardianCard {
       margin-left: 0px !important
    }
    #AUguardianCard{
        margin-left: 0px !important

    }
    #viewAllUsers{
        display: "flex"
    }

}
